body {
  /* background: linear-gradient(#131313, #240b42); */
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  color: black;
}

.signin-body main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.back-home-btn {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 1000;
  border-width: 2px;
  text-decoration: none;
}

.back-home-btn:hover {
  color: #2a0a4a;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin label, .form-signup label {
    width: 100%;
    font-size: small;
    text-align: left;
}
.form-signin .form-control, .form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus, .form-signup .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"], .form-signup input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"], .form-signup input[type="password"], .form-signup input[type="text"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin button[type="submit"],
.form-signup button[type="submit"] {
  width: 100%;
  background-color: #6b28bd;
  font-size: medium;
}

.register_bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../images/register_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}