/*  universal */
body,
html {
  height: 100%;
  overflow-y: hidden;
}

body {
  background: linear-gradient(#240b42, #131313) no-repeat fixed;
  background-size: cover;
}

/* loader */
#loader {
  z-index: 9999;
  position: fixed;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  background: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-btn{
  font-size: 16px;
  font-weight: bold;
  background-color: #007bff;
  color: white;
  border-radius: 10px;
  border-color: white;
}
.loader-stack {
  position: relative;

  width: 100px;
  height: 140px;
}

.loader-card {
  position: absolute;

  width: 100%;
  height: 100%;

  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  animation: shuffle 2s infinite;
  backface-visibility: hidden;
}

/* animation */
.loader-card:nth-child(1) {
  background: white;
  animation-delay: 0s;
}

.loader-card:nth-child(2) {
  background: white;
  animation-delay: 0.5s;
}

.loader-card:nth-child(3) {
  background: white;
  animation-delay: 1s;
}

@keyframes shuffle {

  0%,
  100% {
    transform: translate(0, 0);
    z-index: 5;
    opacity: 1;
  }

  25% {
    transform: translate(120%, 10px);
    z-index: 5;
    opacity: 1;
  }

  50% {
    transform: translate(0, 0);
    z-index: 1;
    opacity: 0.4;
  }

  75% {
    transform: translate(-20%, -5px);
    z-index: 1;
    opacity: 0.6;
  }
}